<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>验证码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77EDE7621C58B30200A375CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77EDE77B1C58B30200A375CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77EDE7861C58B30200A375CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
